<div class="container">
  <h3 class="text-center">Agregar Nuevo Hechicero</h3>
  <form class="row g-3" [formGroup]="fG">
    <div class="col-md-6">
      <label for="name" class="form-label">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="name"
        formControlName="name"
        placeholder=""
        [class.is-invalid]="nameNoValid"
      />
    </div>
    <div class="col-md-6">
      <label for="patronus" class="form-label">Patronus</label>
      <input
        type="text"
        class="form-control"
        id="p"
        formControlName="patronus"
        [class.is-invalid]="lastNameNoValid"
      />
    </div>
    <div class="col-6">
      <label for="age" class="form-label">Año de Nacimiento</label>
      <input
        type="text"
        class="form-control"
        id="age"
        placeholder=""
        formControlName="yearOfBirth"
        [class.is-invalid]="ageNoValid"
      />
    </div>

    <div class="col-md-6">
      <label for="casa" class="form-label">Casa</label>
      <select id="casa" class="form-select" formControlName="house">
          <option *ngFor="let casa of casas"> {{ casa }} </option>
      </select>
    </div>

    <div>
      <input type="hidden" value="../../../../../assets/image/hogwarts.png" formControlName="image" readonly>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary btn-block" [disabled]="fG.invalid"  (click)="saveForm()"><strong>+</strong> Agregar</button>
    </div>
  </form>
</div>
<div class="alert alert-primary text-center mt-2" role="alert">
  Todos los hechiceros que agregue iran a la casa asignada
</div>
<hr>
<div class="table">
  <app-table [data]="students"></app-table>
</div>
