<div class="container">
  <div class="form-group">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Filtrar por nombre de casa..."
        name="filter"
        [(ngModel)]="filterHouse"
      />
    </div>
  </div>
</div>

<div class="container">
  <table class="table table-red table-striped container">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Patronus</th>
        <th>Edad</th>
        <th>Imagen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let colum of data| filter: filterHouse">
        <td>{{ colum.name }}</td>
        <td>{{ colum.patronus }}</td>
        <td>{{ colum.yearOfBirth | calculateAge }}</td>
        <td><img [src]="colum.image" alt="Perfil" class="imgPerfil" /></td>
      </tr>
    </tbody>
  </table>
</div>
